body {
    margin:0;
    overflow: hidden;
    text-align:center;   
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#myCanvas {
    background: lightgray;   
}